Repository imbacc/vite-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

(更新):小修改
  .editorconfig
  .eslintrc.js
  .husky/pre-commit
  docker/.dockerignore
  docker/Dockerfile
  docker/nginx.conf
  package.json
  pnpm-lock.yaml
  src/api/testApi.ts
  src/api/userApi.ts
  src/common/config/api.ts
  src/common/config/cfg.ts
  src/common/config/module/test_api.ts
  src/common/config/module/user.ts
  src/directive/index.ts
  src/directive/module/test.ts
  src/main.ts
  src/provide/num.ts
  src/render/loadingRender.ts
  src/render/messageRender.ts
  src/router/index.ts
  src/router/module/action_module.ts
  src/router/module/init_module.ts
  src/router/module/test_child_module.ts
  src/router/module/test_module.ts
  src/store/index.ts
  src/store/user.ts
  src/tools/mitt.ts
  src/tools/request.ts
  src/tools/router.ts
  tsconfig.json
  types/env.d.ts
  vite-plugin/vite-plugin-auto-import.ts
  vite-plugin/vite-plugin-components.ts
  vite-plugin/vite-plugin-env.ts
  vite.config.ts
Due: eslint --fix

(修复):plugin导入修改
  .env.development
  .eslintrc.js
  .gitignore
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  types/env.d.ts
  types/global.d.ts
  uno.config.ts
  vite-plugin/rollup-plugin-visualizer.ts
  vite-plugin/vite-plugin-auto-import.ts
  vite-plugin/vite-plugin-cache.ts
  vite-plugin/vite-plugin-components.ts
  vite-plugin/vite-plugin-env.ts
  vite-plugin/vite-plugin-htmlInject.ts
  vite-plugin/vite-plugin-imgmin.ts
  vite-plugin/vite-plugin-routerPage.ts
  vite.config.ts
Due: eslint --fix

update: 修补旧代码影响的内容。
  .eslintrc-auto-import.json
  .eslintrc.js
  .stylelintrc.js
  docker/Dockerfile
  docker/nginx.conf
  src/components/HelloWorld/HelloWorld.vue
  src/components/message/message.vue
  src/directive/module/test.ts
  src/env.d.ts
  src/render/loadingRender.ts
  src/render/messageRender.ts
  src/router/module/test_child_module.ts
  src/store/user.ts
  src/styles/global.scss
  src/tools/mitt.ts
  src/tools/request.ts
  src/tools/router.ts
  src/views/test/about.vue
  src/views/test/action.vue
  src/views/test/home.vue
  src/views/test/index.vue
  src/views/test/login.vue
  src/views/test/reactive.vue
  tsconfig.json
  types/global.d.ts
  types/render/loadingRender.d.ts
  types/store/user.d.ts
  types/tools/mitt.d.ts
  types/vite-plugin/auto-import.d.ts
  types/vite-plugin/components.d.ts
  vite-plugin/vite-plugin-auto-import.ts
Due: eslint --fix, stylelint --fix

fix: 修复\\$ref语法出错和imagemin包安装出错问题。
  package.json
  pnpm-lock.yaml
  src/api/testApi.ts
  src/components/inject/inject.vue
  src/env.d.ts
  src/views/test/action.vue
  tsconfig.json
  types/vite-plugin/components.d.ts
  vite-plugin/vite-plugin-imgmin.ts
  vite.config.ts
Due: eslint --fix

update: 新增directive和rneder共用类
  src/components/HelloWorld/HelloWorld.vue
  src/components/inject/inject.vue
  src/directive/module/permission.ts
  src/render/compRender.ts
  src/render/loadingRender.ts
  src/router/module/action.ts
  src/router/module/init.ts
  src/router/module/test.ts
  src/router/module/testChild.ts
  src/store/permission.ts
  src/tools/router.ts
  types/vite-plugin/components.d.ts
Due: eslint --fix

update: 小调整
  src/main.ts
  src/store/user.ts
  src/tools/router.ts
  types/store/user.d.ts
Due: eslint --fix

update: 删除没用内容.
  .eslintrc-auto-import.json
  README.md
  public/inject/inject-test.js
  src/api/userApi.ts
  src/assets/error/401.gif
  src/assets/error/404.png
  src/assets/error/404_cloud.png
  src/assets/imgs/logo1.png
  src/assets/imgs/logo2.png
  src/directive/index.ts
  src/directive/module/auth.ts
  src/directive/module/permission.ts
  src/directive/module/test.ts
  src/hooks/useScript.ts
  src/render/compRender.ts
  src/render/loadingRender.ts
  src/render/messageRender.ts
  src/store/permission.ts
  src/store/user.ts
  src/tools/request.ts
  src/tools/router.ts
  src/views/error/401.vue
  src/views/error/404.vue
  src/views/test/about.vue
  src/views/test/action.vue
  src/views/test/home.vue
  src/views/test/index.vue
  src/views/test/reactive.vue
  src/views/test/win.vue
  tsconfig.json
  types/render/loadingRender.d.ts
  types/vite-plugin/auto-import.d.ts
  vite-plugin/vite-plugin-auto-import.ts
Due: eslint --fix

refactor: 新增和修改部分vite插件，开发模式优化，包更新。
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/views/test/about.vue
  tsconfig.json
  types/vite-plugin/auto-components.d.ts
Due: eslint --fix

update: 更新路由加载方式
  .cz-config.js
  .env.development
  .env.production
  .eslintrc.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  src/directive/module/auth.ts
  src/router/create.ts
  src/router/index.ts
  src/router/meta.ts
  src/store/auth.ts
  src/store/user.ts
  src/views/test/action.vue
  src/views/test/index.vue
  types/global.d.ts
  types/store/auth.d.ts
  types/vite-plugin/auto-components.d.ts
  vite-plugin/vite-plugin-routerPage.ts
Due: eslint --fix

build: 更新命令和包依赖
  package.json
Due: none

fix: 路由mode加载方式
  .env.development
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/router/index.ts
  src/views/test/action.vue
Due: eslint --fix

update: 更新imba-request包相关配置和内容
  mock/index.js
  mock/test.js
  mock/user.js
  package.json
  pnpm-lock.yaml
  src/api/request.ts
  src/views/test/action.vue
Due: eslint --fix

Update README.md
  README.md
Due: none

feat: 新增toast
  .eslintrc-auto-import.json
  index.html
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/api/request.ts
  src/components/message/message.vue
  src/components/toast-msg/index.vue
  src/components/toast-msg/index2.vue
  src/hooks/useToastRender.ts
  src/render/compRender.ts
  src/render/loadingRender.ts
  src/render/messageRender.ts
  src/styles/global.scss
  tsconfig.json
  types/vite-plugin/auto-components.d.ts
  types/vite-plugin/auto-env.d.ts
  types/vite-plugin/auto-import.d.ts
  vite-plugin/vite-plugin-auto-components.ts
  vite-plugin/vite-plugin-cache.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

feat: 新增prebundle插件
  index.html
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

update: 更新包问题,MOCK和API测试案例
  .env.development
  .eslintrc-auto-import.json
  mock/test.js
  package.json
  pnpm-lock.yaml
  src/api/test/testApi.ts
  src/api/user/userApi.ts
  src/hooks/useToastRender.ts
  types/global.d.ts
  types/vite-plugin/auto-import.d.ts
Due: eslint --fix

update: 更新依赖版本
  .eslintrc-auto-import.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
  types/vite-plugin/auto-components.d.ts
  types/vite-plugin/auto-import.d.ts
  vite.config.ts
Due: eslint --fix

update: 小修改
  .cz-config.js
  .env.production
  .env.testing
  .eslintrc.js
  README.md
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  src/hooks/usePiniaHooks.ts
  vite-plugin/vite-plugin-routerPage.ts
  vite.config.ts
Due: eslint --fix

feat: taze up
  .cz-config.js
  .eslintrc.js
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  taze.config.ts
  tsconfig.json
  types/vite-plugin/auto-import.d.ts
  vite-plugin/vite-plugin-routerPage.ts
  vite.config.ts
Due: eslint --fix

feat: compress和legacy插件
  .env.production
  .env.testing
  package.json
  pnpm-lock.yaml
  src/api/test/testApi.ts
  tsconfig.json
  types/global.d.ts
  types/vite-plugin/auto-import.d.ts
  vite-plugin/vite-plugin-compress.ts
  vite-plugin/vite-plugin-legacy.ts
  vite.config.ts
Due: eslint --fix

update: package name
  package.json
  vite.config.ts
Due: eslint --fix

types: 类型矫正
  types/vite-plugin/auto-env.d.ts
  vite-plugin/vite-plugin-env.ts
Due: eslint --fix

update: 更新注释
  vite.config.ts
Due: eslint --fix

feat: 新eslint配置
  .cz-config.js
  .eslintignore
  .eslintrc.js
  commitlint.config.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/api/request.ts
  src/env.d.ts
  src/hooks/usePiniaHooks.ts
  src/hooks/useToastRender.ts
  src/router/meta.ts
  tsconfig.json
  types/global.d.ts
  types/render/loadingRender.d.ts
  types/store/auth.d.ts
  vite-plugin/vite-plugin-env.ts
  vite-plugin/vite-plugin-legacy.ts
  vite.config.ts
Due: eslint --fix

fix: eslint包和vscode插件冲突
  package.json
  pnpm-lock.yaml
Due: none

fix: 修复env转换问题
  .env
  .env.development
  .env.production
  .env.testing
  .gitignore
  package.json
  uno.config.ts
  vite-plugin/vite-plugin-env.ts
  vite-profile-0.cpuprofile
Due: eslint --fix

docs: 描述说明
  .gitignore
  README.md
  package.json
  vite-profile-0.cpuprofile
Due: none

feat: 小调整
  .eslintrc-auto-import.json
  README.md
  src/api/test/testApi.ts
  src/api/user/userApi.ts
  src/components/Loading/index.vue
  src/components/ToastMsg/index.vue
  src/components/ToastMsg/index2.vue
  src/hooks/usePiniaHooks.ts
  src/router/index.ts
  src/utils/mitt.ts
  src/utils/piniaUtils.ts
  src/utils/toastRender.ts
  tsconfig.json
  types/vite-plugin/auto-components.d.ts
  types/vite-plugin/auto-import.d.ts
  vite-plugin/vite-plugin-auto-import.ts
Due: eslint --fix

update: import ToastMsg component
  src/utils/toastRender.ts
Due: eslint --fix

fix: docker build
  docker/.dockerignore
  docker/Dockerfile
  docker/nginx.conf
  package.json
  tsconfig.json
Due: none

perf: 优化
  src/main.ts
  src/views/test/index.vue
  src/views/test/login.vue
  vite-plugin/vite-plugin-auto-import.ts
  vite-plugin/vite-plugin-env.ts
  vite.config.ts
Due: eslint --fix

perf: 库版本更新
  package.json
  pnpm-lock.yaml
Due: none

perf: mapRecord
  src/router/convert.ts
  src/router/intercept.ts
  src/router/metas.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,less,scss}
